body{
    font-family: "Smooch Sans", sans-serif;
    
}

.principal{
    width: 940px;
    padding: 30px 0 0 0;
    display: grid;
    grid-template-columns:45% 45%;
    gap: 30px;
}

.entradaTexto{
    grid-column: 1/2;
    width: 90%;
}
.textoSinEncriptar{
    text-align: left;
    width: 90%;
    height: 450px;
    padding: 20px;
    margin: 5%;
    overflow-y: auto;
    max-height: 400px;
}

.botones{  
    display: flex;
   justify-content: center; 
}

.botonEncriptar{
    font-weight: bold;
    margin: 0 10px;
    padding: 20px 0;
    width: 40%;
    background-color: #128882;
    border-color: #000000;
    border-radius: 10px;
}

.botonDesencriptar{
    font-weight: bold;
    margin: 0px 10px;
    width: 40%;
    padding: 20px 0;
    border-radius: 10px;
}

.salidaTexto{
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3; 
    padding: 30px 0 0 0;   
}

.textoBajoImagen{
    display: inline-block;

}

.imagenNoTexto{
    width: 330px;
}

.parrafo1BajoImagen{
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}

.parrafo2BajoImagen{
    text-align: center;
    font-size: 25px;
}


.textoEncriptado{
    display: none;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
    height: 420px;
    max-width: 400px;
    margin: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    text-overflow: ellipsis;
    
}

.botonCopiar{
    display: none;
    font-weight: bold;
    margin: 21px 100px;
    padding: 20px 0;
    width: 40%;
    background-color: #128882;
    border-color: #000000;
    border-radius: 10px;
    align-items: center;
}

